<div class="min-h-[calc(100vh-10.25rem)] flex justify-center items-center m-4">
    @if (authApi.verifyEmailLoading()) {
        <ZS-spinner
            [loading]="true"
            [isFloating]="true"
            type="pro"
            size="lg"
            color="blue"
            [withBox]="true"
        />
    }
    <div class="w-full max-w-md text-center">
        @if (authApi.verifyEmailError()) {
            <h2 class="text-xl font-semibold mb-2 dark:text-gray-200">
                Email Verification Failed
            </h2>

            <p class="text-gray-500 text-gray-400 mb-8">
                This verification link is invalid or has expired.
            </p>
        }
        @if (authApi.verifyEmailError() || isBodyNull()) {
            <app-resend-ver-link></app-resend-ver-link>
        }
    </div>
</div>

<!-- Envelope Icon -->
<ng-template #envelopeIcon>
    <i class="fas fa-envelope mr-1.5"></i>
</ng-template>

<!-- Loader Icon -->
<ng-template #loaderIcon>
    <i class="fa fa-spinner fa-spin"></i>
</ng-template>