<div class="min-h-[85vh] flex items-center justify-center p-4">
  @if (!userData()) {
    <div class="flex flex-col items-center gap-2 text-slate-600 dark:text-slate-300">
        <i class="fa-solid fa-user-xmark text-4xl text-red-500 dark:text-red-700 animate-pulse"></i>
        <span class="text-3xl">No User Found</span>
    </div>
  } @else {
    <div
      class="
        w-[380px] bg-white/80 dark:bg-slate-900/70 backdrop-blur-xl rounded-3xl 
        shadow-xl border border-slate-200/50 dark:border-slate-700/40
        overflow-hidden transition-all
      "
    >
      <!-- Header -->
      <div
        class="
          flex flex-col items-center p-7 bg-linear-to-b from-sky-400/90 to-sky-200/60 
          dark:from-sky-700/90 dark:to-sky-800/70 text-center
        "
      >
      <div class="w-full flex items-center justify-center relative">
        <img
          [src]="userData()?.user_image"
          alt="User image"
          class="
            size-32 h-full rounded-full shadow-lg ring-4 ring-white/70 
            dark:ring-slate-800 object-cover
          "
        >
        @if(isUserLoggedIn()) {
          <button class="absolute top-2 right-1/5 
          text-slate-800 dark:text-slate-300
          hover:scale-[1.05] active:scale-[0.97] hover:opacity-75
          ">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        }

      </div>

        <h2 class="mt-4 text-2xl font-semibold text-slate-900 dark:text-white">
          {{ userData()?.fullname }}
        </h2>

        <h3 class="text-sky-700 dark:text-sky-300 text-lg font-medium">
          @{{ userData()?.username }}
        </h3>

        @if (userData()?.bio) {
          <p class="mt-3 text-slate-800 dark:text-slate-200/80 text-sm max-w-xs leading-snug">
            "{{ userData()?.bio }}"
          </p>
        }
      </div>

      <!-- Info Section -->
      <div class="p-6 space-y-4 text-slate-700 dark:text-slate-200">

        @if(isUserLoggedIn()) {
            <div class="flex flex-col">
                <span class="text-sm font-semibold text-slate-500 dark:text-slate-400">
                    Email
                </span>
                <span>{{ userData()?.email }}</span>
            </div>

            <div class="flex flex-col">
              <span class="text-sm font-semibold text-slate-500 dark:text-slate-400">
                Last Login
              </span>
              <span class="text-sm">{{ config.formatDate(userData()?.last_login ?? '', true) }}</span>
            </div>
        }

        <div class="flex flex-col">
          <span class="text-sm font-semibold text-slate-500 dark:text-slate-400">
            Date Joined
          </span>
          <span class="text-sm">{{ config.formatDate(userData()?.date_joined ?? '', true) }}</span>
        </div>
      </div>

      <!-- Optional Buttons -->
      @if(isUserLoggedIn()) {
        <hr class="border-slate-300 dark:border-slate-700">

        <div class="p-6 flex flex-col gap-4">
          <ZS-button btnStyle="secondary" class="grow" 
          icon="fa-solid fa-user-pen"
          (clickedEv)="openEditModal.set(true)">
            Edit Account
          </ZS-button>

          <ZS-button btnStyle="warning" 
          icon="fa-solid fa-pen"
          class="grow whitespace-nowrap">
            Change Password
          </ZS-button>

          <ZS-button btnStyle="danger" variant="outline"
          icon="fa-solid fa-ban">
            Delete Account
          </ZS-button>
        </div>
      }
    </div>
  }
</div>

<ZS-modal
[(open)]="openEditModal"
(cancelEv)="openEditModal.set(false)"
(confirmEv)="updateProfile()"
[confirmConfig]="{
  btnStyle: 'success',
  disabled: authApi.updateProfileLoading(),
  icon: authApi.updateProfileLoading() ? 'fa fa-spinner fa-spin' : ''
}"
[cancelConfig]="{
  disabled: authApi.updateProfileLoading(),
}"
[showCancelIcon]="!authApi.updateProfileLoading()"
[closeOnOverlay]="!authApi.updateProfileLoading()"
[modalStyle]="'success'"
>
  <div class="flex flex-col gap-4">
    <ZS-input
    [label]="'Full Name'"
    icon="fas fa-user"
    [type]="'text'"
    [inputStyle]="'secondary'"

    [required]="true"
    [value]="updateAccForm.fields.fullname().value ?? ''"
    (changedEv)="changeEditAccValues($event, 'fullname')"
    >
    </ZS-input>
    
    <ZS-input
    [label]="'Username'"
    icon="fas fa-user"
    [type]="'text'"
    [inputStyle]="'secondary'"

    [required]="true"
    [value]="updateAccForm.fields.username().value ?? ''"
    (changedEv)="changeEditAccValues($event, 'username')"
    >
    </ZS-input>
    
    <ZS-input
    [label]="'Email'"
    [hint]="'Enter a unique email.'"
    icon="fas fa-envelope"
    [type]="'email'"
    [inputStyle]="'secondary'"

    [required]="true"
    [value]="updateAccForm.fields.email().value ?? ''"
    (changedEv)="changeEditAccValues($event, 'email')"
    >
    </ZS-input>
    
    <ZS-input
    [label]="'Bio'"
    [hint]="'Write a short bio about yourself'"
    icon="fa-solid fa-message"
    [type]="'text'"
    [inputStyle]="'secondary'"

    [value]="updateAccForm.fields.bio().value ?? ''"
    (changedEv)="changeEditAccValues($event, 'bio')"
    >
    </ZS-input>
  </div>
</ZS-modal>