/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "../using-fontawesome/css/all.min.css";
@import "../node_modules/@ziadshalaby/ngx-zs-component/output.css";

@custom-variant dark (&:where(.dark, .dark *)); /* Custom Variants */

/* styles.css */
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


a, button {
  cursor: pointer; 
}

@keyframes highlight-pulse {
  0%, 100% { background-color: transparent; }
  50% { background-color: rgba(16, 185, 129, 0.2); }
}

.message-highlight {
  animation: highlight-pulse 1.5s ease-in-out;
}